[core]
	excludesfile = /home/dylan/.gitignore
	autoclfr = input
[user]
	name = Dylan Lloyd
	email = dylan@psu.edu
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	merge =  merge --no-ff
